# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
tmp
/test
/build
node_modules
/package.json
package-lock.json
/.vscode
/.idea
/.fleet
/.github
/.yarn
/.verdaccio/build/local-registry
/.env
CODEOWNERS
/.nx/workflows/dynamic-changesets.yaml
_files
_solution
